.attachmentList {
    margin: 0;
    display: flex;
    flex-direction: column;
}
.attachmentList>div {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex: 1;
}

.attachmentList>div>div {
    flex: 3
}

.attachmentList>div>div.buttons {
    flex: 1
}