.View {
    color: #555758;
    text-align: center;
}

.View h1,
h2,
h3 {
    margin: 0.1em;
}

h1.weaponName {
    color: black;
    margin-top: .2em;
    margin-bottom: .5em;
}

.weaponCategory {
    background-color: #444748;
    display: inline-block;
}

.weaponCategory h2 {
    color: white;
    font-size: 1em;
}

.sharing {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

.sharing input {
    font-size: 1.2em;
    padding: .4em;
}

.attachmentRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444748;
    border: #FFB744 solid 2px;
    color: white;
    margin-bottom: .4em;
    padding: 1em;
}

.attachmentRow>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.tuningVals {
    gap: 2em;
}